/*  */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Piazzolla:opsz@8..30&display=swap');

/* setting a color palette for project with creating css variables */
:root{
    --clr-sect:rgb(91, 91, 194);
    --clr-hero-txt:white;
    --clr-hero2-txt:rgb(11, 11, 37);
    --clr-header-nav-footer: rgb(10, 10, 10);
    --clr-section-blue: rgb(22, 99, 163);
}

body{
    padding: .6%;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Piazzolla', serif; */
    
   

}
/* putting logo of company in top left corner(logo made with "looka.com" */
#logo-nav{
    height:9vh;
    width: 25vw;
    border-radius: 50%;
    margin: auto;   
}
/* making a sliding navigation(original idea by'Angela Delise' */
.nav{
    border-bottom: 2px solid rgb(17, 19, 19);
    position: absolute;
    width: 100%;
    background-color: beige;
    
   
   
}


.nav-toggle{
    position: absolute;
    cursor: pointer;
    margin: .2rem 1rem 1.5rem 0;
    right: 0;
}
#bars ,#close{
    width: 1.5rem;
    font-size: 1.6rem;
}
#close{
    display: none;
    
   
    
}
#bars{
    margin-top: .2rem;
   
}
.nav-checkbox{
    display: none;
}
.nav-menu{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-top: 30px;
    position: absolute;
    left: -100vw;
    box-sizing: border-box;
    transition: left 0.6s ease-out;
    padding-left: 0px;
    
}
.nav-menu li{
    list-style: none;
}

ul a{
    text-decoration: none;
    font-size: 1.3rem;
}
#nav-checkbox:checked ~ .nav-menu{
    left:-1%;
    background-color: blanchedalmond;
    height: 70vh;
    width: 100%;
    z-index: 15;
   
}
#nav-checkbox:checked ~ label.nav-toggle #close{
    display: block;
    z-index: 1000;
   
}
#nav-checkbox:checked ~ label.nav-toggle #bars{
    display: none;
}

/* setting a hero img to cover entire hero section */
#hero{
    background-image: url(../images/sebastian-staines-mfzdRsWsiRA-unsplash\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 85vh;

}
/*  */
#logo{
    width: 100px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: inset 2px 1px 1px 0.5px rgb(0, 0, 0);
    margin: 1% 0% 0% 5%;
}

h1{
    margin-bottom: 0;
    font-size: 1.7rem;
    color: white;
    width: 65%;
}
/* bottom hero section is flex container it makes easier aligning button with call to action */
.hero-bottom{
    display: flex;
    justify-content: space-between;
    padding-right: 2%;
    align-items: flex-end;

}

 #start-now{
   
    padding: 2% 2% 1% 5% ;
    border: 2px solid black;
    box-shadow: 2px 1px 3px rgb(18, 18, 165);
    background-color: rgb(5, 102, 57);
    color: white;
    font-size: .8rem;
    text-decoration: none;
    display: flex;
    align-items:center;
    border: outset;
    margin-bottom: -8%;
    margin-right: 2%;
    width: 100px;
    height: 25px;
    position: absolute;
    right: 2%;
    bottom: 19%;
    
    
}

#start-now > p{
    width: 100%;
    text-align: center;
}

/* welcome section shows user a brief info what SURFon is about */
#welcome-section{
    padding-top: 0;
    margin-top: 0%;
    
    

}

h2{
    font-size: 1.7rem;
    width:85% ;
    margin-top: 0;
    vertical-align: bottom;
}

#welcome-message > img{
    max-width: 900px;
    /* height:50vh ; */
    border: .6px solid gray;
    box-shadow:3px 3px 2px rgb(49, 47, 47) ;
    border-style: inset;
    margin-bottom: 4%;
     
}

#welcome-message{
   
    display: flex;
    flex-direction: column;
}


#welcome-text{
    width:95%;
    border: .6px solid rgb(15, 15, 15);
    box-shadow:3px 3px 2px rgb(49, 47, 47) ;
    border-style: inset;
    font-size: 1.2rem;
    padding: 2%;
    text-align: left;
    margin-bottom: 2%;
    margin: auto;
   
}

em{
    color: red;
}
/* styling horizontal reference to clearly separate sections */
hr{
    height: 1px;
    background-color: rgb(207, 18, 18);
    border: 1.5px solid rgb(0, 0, 0);
    
    width: 90%;
    margin:5% auto;
}
/* our services section is giving insigt to user what SURF-ON is offering */
#services{
    padding: 2% 1%;
    /* background-color: var(--clr-header-nav-footer); */
    margin: 0;
    background-color: rgb(22, 99, 163);    
   
}

#services > h3{
    font-size: 1.7rem;
    margin-top: 1%;
    text-align: center;
     
}
/* flexbox container for two our-service cards */
#service-cards{
    display: flex;
    padding: 1%;
    gap: 2%;
    justify-content: center;
    flex-direction: column;
}
/* lessons card ,an overview of what is taught and what way */
#lessons{
    border:1px solid var(--clr-hero2-txt) ;
    box-shadow:1px 1px 1px 2px rgb(46, 43, 43)  ;
    /* width: 95%;
    height: 580px; */
    padding:4% 2% 4% 2%;
    margin-top: 2%;

}

#lessons > h2{
    width: 95%;
    font-size: 1.5rem;
    text-align: center;
    
   
}

#our-lessons{
    width:100%;
    /* height: 250px; */
    box-shadow: 0 1px 0 2px gray;
    
}

#lessons >p{
    font-size: 1.25rem;
    margin-bottom: 0;
    
}

#camps{
    border:1px solid var(--clr-hero2-txt) ;
    box-shadow:1px 1px 1px 2px rgb(46, 43, 43)  ;
    padding:4% 2% 3% 2%;
    margin-top: 4%;

}

#camps > h2{
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    
   
}

#our-camps{
    width:100%;
    box-shadow: 0 1px 0 2px gray;
    
}

#camps >p{
    font-size: 1.25rem;
    margin-bottom: 0;
   
}

#rental{
    padding: 1%;
    margin-top: 7%;
}
/*  */
#rental > h2{
    width: 100%;
    font-size: 1.5rem;
    text-align: center;

}
/*  */
#our-rental{
    width:100%;
    height: 250px;
    box-shadow: 0 1px 0 2px gray;

}
/*  */
#rental > p{
    font-size: 1.25rem;
    margin-bottom: 0;
    padding: 2%;
    
}
/*  */
#testemonial-quote{
    padding: 3%;
    border:1px solid var(--clr-hero2-txt) ;
    box-shadow:1px 1px 1px 2px rgb(46, 43, 43)  ;
    margin-top: 5%;
    background-color: var(--clr-hero-txt);
}
/*  */
#testemonial-quote>p{
    font-size: 2rem;
    margin: 0;
    font-weight: 700;
}
/*  */
hr{
    height: 1px;
    background-color: rgb(207, 18, 18);
    border: 1.5px solid rgb(0, 0, 0);
    margin-top: 7%;

}

/* about section */
#about-us{
    padding: 1%;

}
/*  */
.about-hero > h2{
    text-align: center;
    width: 100%;
    padding-top: 8%;
    color: var(--clr-hero-txt);

}
/*  */
.about-hero{
    background-image: url(../images/surf-club-about-us.jpg);
    background-size: cover;
    height: 50vh;
}
/*  */
#our-story{
    background-color:var(--clr-section-blue) ;
}
/*  */
h4{
    font-size:1.5rem ;
    color: var(--clr-hero-txt);
    text-align: center;
    padding-top: 2%;
    margin-bottom: 8%;
}
/*  */
.text-story{
    margin-top: .5%;
    border:1px solid var(--clr-hero2-txt) ;
    box-shadow:1px 1px 1px 0px rgb(46, 43, 43) 
}
/*  */
.text-story > p{
    font-size: 1.2rem;
    padding: 2%;
}
/*  */
#video{
    border: 1px solid black;
    margin-top: .5%;
    width: 100%;
}
/*  */
h3{
    text-align: center;
}
/*  */
/* #start-now2{
    padding: 2% 2% 1% 5% ;
    border: 2px solid black;
    box-shadow: 2px 1px 3px rgb(18, 18, 165);
    background-color: rgb(5, 102, 57);
    color: white;
    font-size: .8rem;
    text-decoration: none;
    display: flex;
    align-items:center;
    border: outset;
    margin-bottom: -8%;
    margin-right: 2%;
    width: 100px;
    height: 25px;
   

} */
.map{
    width: 100vw;
    height:40vh ;
}
#map{
    width: 100%;
    height: 100%;
}

/* creating a contact form */
#split-form{
    display: flex;
    border: 1px solid rgb(30, 3, 65);
    max-width: 450px;
    margin-top: 5%;
    
    
}
#side-form{
    height: 500px;
    width: 40%;
    background-image:url(../images/new.surfer.jpg);
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
   
    gap: 15%;
    
}

.my-form{
    box-sizing: border-box;
    height: 500px;
    border: 2px solid rgba(167, 163, 130, 0.708);
    box-shadow: 4px 4px 15px rgb(157, 155, 152);
    width: 60%;
    /* margin:5% auto; */
    display: flex;
    flex-direction: column;
    padding:2% 1% 4%;
    /* background: url(/images/sign\ up-pexels.jpg) no-repeat ;
    background-size: cover;
     
    background-blend-mode:saturation;
   */
    
    
}
.form{
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    color: blue;
}
#full-name,
#phone,
#email
{
    width: 75%;
    box-shadow: 1px .8px 12px rgb(1, 1, 7);
    height: 1.25rem;
    padding: 2%;
    border-radius: .3rem;
    border:double 3px rgb(24, 24, 71);
    margin: 0 auto;
  
}
label{
    color: rgb(14, 13, 13);
    font-size: .8rem;
    font-weight: 700;
    padding-left: 13%;
    margin-top: 1%;
}
textarea{
    width: 74%;
    margin-left: 13%;
    font-size: 1rem;
}
#contact{
    width: 120px;
    height: 45px;
    margin: auto 12%;
    background-color:rgb(6, 114, 13);
    padding: 3% 3%;
    margin-top: 3%;
    border: 1px solid  rgb(0, 0, 0);
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: .8rem;

}
.adress,
.call,
.mail{
    color: white;
    margin-top: 20%;
}
