/* setting a color palette for project with creating css variables */
:root{
    --clr-sect:rgb(91, 91, 194);
    --clr-hero-txt:white;
    --clr-hero2-txt:rgb(11, 11, 37);
    --clr-header-nav-footer: rgb(10, 10, 10);
}
/* creating a litlle space for content not to be 100% width of a screen,with setting small padding for whole body element and removing margin */
body{
    padding: .6%;
    box-sizing: border-box;
    margin: 0;
   

}
/* setting a hero img to cover entire hero section */
#hero{
    background-image: url(images/surfer00.jpg);
    background-size: cover;
    background-position: center;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 85vh;

}