/* setting a color palette for project with creating css variables */
:root{
    --clr-sect:rgb(91, 91, 194);
    --clr-hero-txt:white;
    --clr-hero2-txt:rgb(11, 11, 37);
    --clr-header-nav-footer: rgb(10, 10, 10);
}
/* creating a litlle space for content not to be 100% width of a screen,with setting small padding for whole body element and removing margin */
body{
    padding: .6%;
    box-sizing: border-box;
    margin: 0;
   

}
/* putting logo of company in top left corner(logo made with "looka.com" */
#logo{
    height:9vh;
    width: 25vw;
    border-radius: 50%;
    margin: auto;   
}
/* making a sliding navigation(original idea by'Angela Delise' */
.nav{
    border-bottom: 2px solid rgb(17, 19, 19);
    position: absolute;
    width: 100%;
    background-color: beige;
    
   
   
}


.nav-toggle{
    position: absolute;
    cursor: pointer;
    margin: 2rem 1rem 1.5rem 0;
    left: 0;
}
#bars ,#close{
    width: 1.5rem;
    font-size: 1.6rem;
}
#close{
    display: none;
   
    
}
#bars{
    margin-top: .2rem;
}
.nav-checkbox{
    display: none;
}
.nav-menu{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    /* margin: 1rem; */
    margin-top: 60px;
    position: absolute;
    left: -100vw;
    box-sizing: border-box;
    transition: left 0.5s ease-in-out;
    padding-left: 0px;
    
}
.nav-menu li{
    list-style: none;
}

ul a{
    text-decoration: none;
    font-size: 1.3rem;
}
#nav-checkbox:checked ~ .nav-menu{
    left:-1%;
    background-color: blanchedalmond;
    height: 70vh;
    width: 100%;
    z-index: 15;
   
}
#nav-checkbox:checked ~ label.nav-toggle #close{
    display: block;
    z-index: 1000;
   
}
#nav-checkbox:checked ~ label.nav-toggle #bars{
    display: none;
}

/* setting a hero img to cover entire hero section */
#hero{
    background-image: url(images/surfer00.jpg);
    background-size: cover;
    background-position: center;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 85vh;

}
/* making a H1 text sending a invitation to a user with size ,font family and left alingment */
h1{
    margin-bottom: 0;
    font-size: 1.7rem;
    color: white;
}
/* bottom hero section is flex container it makes easier aligning button with call to action */
.hero-bottom{
    display: flex;
    justify-content: space-between;
    padding-right: 2%;
    align-items: flex-end;

}
/* styling a call-to-action button */
 #free-lesson{
    width: 100%;
    padding: 2% 0% 1% 5% ;
    height: 20%;
    border-radius: 2rem;
    border: 2px solid black;
    box-shadow: 2px 1px 3px rgb(18, 18, 165);
    background-color: rgb(23, 23, 23);
    color: white;
    font-size: .8rem;
    text-decoration: none;
    display: flex;
    align-items:center;
    border: outset;
    margin-bottom: -8%;
    margin-right: 2%;
    
    
}

/* welcome section shows user a brief info what SURFon is about */
#welcome-section{
    padding-top: 0;
    margin-top: 0%;
    
    

}
/* making h2 text blends with h1 into a nice inviting quote */
h2{
    font-size: 1.7rem;
    width:85% ;
    margin-top: 0;
    vertical-align: bottom;
}
/* setting height to a welcome section img */
#welcome-message > img{
    width: 99%;
    height:50vh ;
    border: .6px solid gray;
    box-shadow:3px 3px 2px rgb(49, 47, 47) ;
    border-style: inset;
    margin-bottom: 4%;
     
}
/* putting img and text into a container as a part of section then putting some space between */
#welcome-message{
   
    display: flex;
    flex-direction: column;
}
/* wraped introduction text into a nicely styled container */

#welcome-text{
    width:95%;
    border: .6px solid gray;
    box-shadow:3px 3px 2px rgb(49, 47, 47) ;
    border-style: inset;
    font-size: 1.2rem;
    padding: 2%;
    text-align: left;
    margin-bottom: 2%;
    margin: auto;
   
}
/* making company name more appealing with two color text style */
em{
    color: red;
}
/* styling horizontal reference to clearly separate sections */
hr{
    height: 1px;
    border: .5px solid black;
    margin-top: 2%;
    background-color: var(--clr-header-nav-footer);
}