/* setting a color palette for project with creating css variables */
:root{
    --clr-sect:rgb(91, 91, 194);
    --clr-hero-txt:white;
    --clr-hero2-txt:rgb(11, 11, 37);
    --clr-header-nav-footer: rgb(10, 10, 10);
}
/* creating a litlle space for content not to be 100% width of a screen,with setting small padding for whole body element and removing margin */
body{
    padding: .6%;
    box-sizing: border-box;
    margin: 0;
   

}
/* setting a hero img to cover entire hero section */
#hero{
    background-image: url(images/surfer00.jpg);
    background-size: cover;
    background-position: center;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 85vh;

}
/* making a H1 text sending a invitation to a user with size ,font family and left alingment */
h1{
    margin-bottom: 0;
    font-size: 1.7rem;
    color: white;
}
/* bottom hero section is flex container it makes easier aligning button with call to action */
.hero-bottom{
    display: flex;
    justify-content: space-between;
    padding-right: 2%;
    align-items: flex-end;

}
/* styling a call-to-action button */
 #free-lesson{
    width: 100%;
    padding: 2% 0% 1% 5% ;
    height: 20%;
    border-radius: 2rem;
    border: 2px solid black;
    box-shadow: 2px 1px 3px rgb(18, 18, 165);
    background-color: rgb(23, 23, 23);
    color: white;
    font-size: .8rem;
    text-decoration: none;
    display: flex;
    align-items:center;
    border: outset;
    margin-bottom: -8%;
    margin-right: 2%;
    
    
}